.wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    min-height: 1000px;
}
.navbar {
    position: fixed;
    grid-column: 1 / 2;
    background-color: aqua;
}
.content {
    grid-column: 2 / 3;

    .header {
        position: fixed;
        background-color: aquamarine;
    }
    .children {
        margin-top: 50px;
    }
}
